{  
  "name":"Ubuntu_16.04_Bento",
  "box":"bento/ubuntu-16.04",
  "cpus":8,
  "memory":8192,  
  "ip":"192.168.10.10",
  "folders":[
    {"from":"../", "to":"/works/"}
  ],
  "binds":[
      {"from":"/works/", "to":"/projects/", "user":"vagrant", "group":"www-data", "permissions":"u=rwx:g=rwx:o=rwx"}
  ]
}
