{  
  "name":"Ubuntu_16.04_Bento",
  "box":"bento/ubuntu-16.04",
  "cpus":"auto",
  "memory":"auto",
  "ip":"192.168.10.10",
  "folders":[
    {"from":"../", "to":"/shared/"}
  ],
  "binds":[
      {"from":"/shared/", "to":"/projects/", "user":"vagrant", "group":"www-data", "permissions":"u=rwx:g=rwx:o=rwx"}
  ]
}
